@media screen and (min-width: 1000px) {
    .image-list {
        width: 60%;
        margin: 2em auto;
    }
}

@media (min-width: 700px) and (max-width: 999px) {
    .image-list {
        width: 80%;
        margin: 2em auto;
    }
}

@media screen and (max-width: 699px) {
    .image-list {
        width: 100%;
    }
}

h1 {
    font-size: 2em !important;
    font-weight: bold !important;
}

iframe {
    width: 100%;
}

img {
    width: 100%;
    height: 300px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#root {
    overflow: hidden;
}

.top-image {
    margin-top: 12px;
    margin-right: 15px;
    margin-left: 0px;
}

.card-title {
    background-color: #000000d4;
}

.card-title span {
    color: whitesmoke !important;
}


.card-text {
    font-size: 1.1em !important;
}

.pagination {
    width: calc(50% - .5rem);
    margin: 1rem .25rem !important;
}