@media screen and (min-width: 1000px) {
  .card-title {
    display: none;
  }

  .image-list {
    width: 60%;
    margin: 2em auto;
  }
}

@media (min-width: 700px) and (max-width: 999px) {
  .card-title {
    display: none;
  }

  .image-list {
    width: 80%;
    margin: 2em auto;
  }
}

@media screen and (max-width: 699px) {
  .card-overlay-title {
    display: none;
  }

  .image-list {
    width: 100%;
  }
}

h1 {
  font-size: 2em !important;
  font-weight: bold !important;
}

iframe {
  width: 100%;
}

.top-image {
  margin-top: 12px;
  margin-right: 15px;
  margin-left: 0px;
}


.card-text {
  font-size: 1.1em !important;
}

.card {
  margin-bottom: 4em;
}
